@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

$font-pp: 'PP Neue Montreal', sans-serif;
$font-tangerine: 'Tangerine', cursive;

$color-text-black: var(--Color-Scheme-1-Text, black);
$color-pink: #FFD0D6;
$color-white: #EEF3ED;
$color-gray: #DFDFDF;
$color-lightGray: #EEF3ED;
$color-beige: #F6DFB5;
$color-green: #007123;
$color-red-dark: var(--Color-Torch-Red-Darkest, #4B0009);
$color-snow: var(--Color-Snow-Drift-Light, #F3F6F2);